<%-include('../layout/adminHeader')-%>

            
            <div class="card mb-4">
                <div class="container-fluid">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>category</th>
                                <th>Price</th>
                                <th>Gender</th>
                                <th>Brand</th>

                                <th>Status</th>
                                <th class="text-center">Images</th>
                                <th class="text-end">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let serialNumber=1; %>
                            <% if (product.length > 0) { %>
                                <% product.forEach((product) => { %>
                                    <tr>
                                        <th scope="row"><%=serialNumber %></th>
                                        <td><%= product.name %></td>
                                        <td><%= product.category ? product.category : 'N/A' %></td>
                                        <td><%= product.price  %></td>
                                        <td><%= product.gender %></td>
                                        <td><%= product.manufacturer %></td>
                                        <td>
                                            <span class="badge rounded-pill <%= product.status === 'Active' ? 'alert-success' : 'alert-warning' %>">
                                                <%= product.status %>
                                            </span>
                                        </td>
                                        <td>
                                            <% for (let j = 0; j < product.imageUrls.length; j++) { %>
                                                <img src="/uploads/<%= product.imageUrls[j]%>" alt="Product Image" style="width: 30px; height: 30px; margin-left: 5px;">
                                            <% } %>
                                        </td>
                                        <td class="text-end">
                                            <a href="/editproduct/<%= product._id %>" class="btn btn-sm font-sm btn-dark rounded-circle">
                                                <i class="material-icons"></i> Edit
                                            </a>
                                            <a href="/product/<%= product.id %>" class="btn btn-sm btn-info rounded-circle">
                                                <i class="material-icons">details</i>
                                            </a>
                                            <!-- <form action="/deleteproduct/<%= product._id %>" method="post" class="btn btn-sm font-sm btn-info rounded">
                                             
                                              <button class="material-icons"> D</button>  
                                              
                                            </form> -->
                                            <form action="/deleteproduct/<%= product._id %>" method="post" onsubmit="return confirm('Are you sure you want to delete this product?');" style="display:inline;">
                                                <button type="submit" class="btn btn-sm font-sm btn-info rounded">
                                                    <span class="material-icons">delete</span>
                                                </button>
                                            </form>
                                            

                                            <% if (product.status === 'Active') { %>
                                                <a href="/blockproduct/<%= product._id %>" class="btn btn-sm font-sm btn-warning rounded-circle">
                                                    <i class="material-icons"></i> Block
                                                </a>
                                            <% } else { %>
                                                <a href="/productunblock/<%= product._id %>" class="btn btn-sm font-sm btn-success rounded-circle">
                                                    <i class="material-icons"></i> Unblock
                                                </a>
                                               
                                            <% } %>
                                        </td>
                                    </tr>
                                <% }) %>
                            <% } %>
                            <% serialNumber++; %>
                        </tbody> 
                    </table>
                </div>
            </div>









    <!-- ============================================================== -->
<!-- Footer -->
<!-- ============================================================== -->
<footer class="footer text-center">
    All rights reserved &copy; 2023 Shoe Rack
</footer>
<!-- ============================================================== -->
<!-- End Footer -->
<!-- ============================================================== -->

        
</div>







        <script src="/admin/src/assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="/admin/src/assets/libs/popper.js/dist/umd/popper.min.js"></script>
        <script src="/admin/src/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- apps -->
        <!-- apps -->
        <script src="/admin/src/dist/js/app-style-switcher.js"></script>
        <script src="/admin/src/dist/js/feather.min.js"></script>
        <script src="/admin/src/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
        <script src="/admin/src/dist/js/sidebarmenu.js"></script>
        <!--Custom JavaScript -->
        <script src="/admin/src/dist/js/custom.min.js"></script>
        <!--This page JavaScript -->
        <script src="/admin/src/assets/extra-libs/c3/d3.min.js"></script>
        <script src="/admin/src/assets/extra-libs/c3/c3.min.js"></script>
        <script src="/admin/src/assets/libs/chartist/dist/chartist.min.js"></script>
        <script src="/admin/src/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
        <script src="/admin/src/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
        <script src="/admin/src/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
        <script src="/admin/src/dist/js/pages/dashboards/dashboard1.min.js"></script>
    </body>
    
    </html>