<div class="reviews">
    <h3>Reviews (<%= product.reviews.length %>)</h3>
    <% product.reviews.forEach((review) => { %>
        <div class="review">
            <div class="row no-gutters">
                <div class="col-auto">
                    <h4><a href="#"><%= review.userName %></a></h4> here its comming a gamil so split the gamial and only show the name in that excluding the @ extension
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-val" style="width: <%= review.rating *20 %>%;"></div>
                        </div>
                    </div>
                    <span class="review-date"><%= new Date(review.date).toLocaleDateString() %></span>
                </div>
                <div class="col">
                    <h4></h4> here shouw how much days before 
                    <div class="review-content">
                        <p><%= review.reviewText %></p>
                    </div>
                    <div class="review-action">
                        <!-- <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                        <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a> -->
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>
